html{
    font-size: 18px;
    color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
v
h1,h2,h3,h4,h5,h6{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 3rem;
}


::-moz-selection { /* Code for Firefox */
    color: white;
    background:#50C27B;
  }
  
  ::selection {
    color: white;
    background:#50C27B;
  }


p {
    font-family: 'OrkneyLight';
    font-weight: light;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 0.6rem;
    padding: 0;
    letter-spacing: -0.04rem;
 }

 b{
    font-family: 'OrkneyRegular';
    font-weight: bold;
    font-style: normal;
}

.green{
    color: #50C27B;
}

.studio-logo
{
    font-family: 'OrkneyRegular';
    font-weight: bold;
    font-style: normal;
    color: #414141;
    font-size: 2.4em;
    background-repeat: no-repeat;
}

.topbar{
    padding: 20px 50px 20px 50px;
    border-bottom: 1px solid #96FFBE;
}

.studio-logo
{
    background-image: url('../logo/Superusefulstudio.png');
    background-repeat: no-repeat;
    width: 280px;
    height: 40px;
}

.mainintro
{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.container{
    width: 66%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}


.showcase {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;  
}

.showcase .container h1{
    font-size: 2rem;
}

.showcase .container p{
    font-size: 1.2rem;
}

.showcase .container img
{
    display: block;
    margin-top: 50px;
}


.bupa {
    background-image: linear-gradient(180deg, #019FDA 0%, #0088DA 100%);
}

.concrete{
    background-image: linear-gradient(180deg, #575A6B 2%, #3D4251 100%);
}

.bupa .container > *, .concrete .container > *
{
    color: white;
}


.shadow_bupa {
    box-shadow: 0 8px 17px 0 rgba(84,110,147,0.30);
 }

 .shadow_concrete {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.30);
 }








@media only screen and (max-width : 900px) {
  
    .container{
        width: 90%;
        max-width: 1200px;
        margin: 0px auto;
        text-align: left;
        padding-top: 100px;
        padding-bottom: 100px;
    }

}


/*Responsive Desktop*/

@media only screen and (max-width : 900px) {
  
    .container{
        width: 90%;
        max-width: 1200px;
        margin: 0px auto;
        text-align: left;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    

}




/* Responsive Mobile Web */

@media only screen
and (min-device-width : 400px)
and (max-device-width : 864px) {

    .container{
        width: 90%;
        margin: 0px auto;
        text-align: left;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .studio-logo
    {
        background-image: url('../logo/Superusefulstudio@3x.png');
        background-repeat: no-repeat;
        width: 814px;
        height: 100px;
    }

    p {
        font-size: 2.8rem;
        line-height: 4.8rem;
     }

     .showcase .container h1{
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    
    .showcase .container p{
        font-size: 2.4rem;
        line-height: 3.4rem;
    }

    .showcase .container img
    {
        display: block;
        margin-top: 20%;
    }

}


/* Responsive Mobile Web Small*/

@media only screen
and (min-device-width : 200px)
and (max-device-width : 399px) {

    .container{
        width: 90%;
        margin: 0px auto;
        text-align: left;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .studio-logo
    {
        background-image: url('../logo/Superusefulstudio@3x.png');
        background-repeat: no-repeat;
        width: 814px;
        height: 100px;
    }

    p {
        font-size: 3.6rem;
        line-height: 5.2rem;
     }

     .showcase .container h1{
        font-size: 4rem;
        margin-bottom: 5rem;
    }
    
    .showcase .container p{
        font-size: 3.2rem;
        line-height: 4.2rem;
    }

    .showcase .container img
    {
        display: block;
        margin-top: 20%;
    }

}






/* iPhone XR*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2)
    {

    .container{
        width: 90%;
        margin: 0px auto;
        text-align: left;
        padding-top: 150px;
        padding-bottom: 200px;
    }

    b{
        letter-spacing: -0.08rem;
    }

    p {
        font-size: 2.8rem;
        line-height: 4.8rem;
        
     }



    .showcase .container h1{
        font-size: 3.6rem;
    }

    .showcase .container p{
        font-size: 2.4rem;
        line-height: 4.8rem;
    }

     .studio-logo
     {
         background-image: url('../logo/Superusefulstudio@2x.png');
         background-repeat: no-repeat;
         width: 814px;
         height: 100px;
     }
    
  }




