* {
    margin: 0;  
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 100%;
    color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Averta-Regular';
    src: url('../fonts/Averta/Averta-Regular.eot');
    src: url('../fonts/Averta/Averta-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Averta/Averta-Regular.svg#Averta-Regular') format('svg'),
         url('../fonts/Averta/Averta-Regular.ttf') format('truetype'),
         url('../fonts/Averta/Averta-Regular.woff') format('woff'),
         url('../fonts/Averta/Averta-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Averta-Regular';
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    letter-spacing: -0.1px;
    text-rendering: optimizeLegibility;
}



::-moz-selection { /* Code for Firefox */
    color: white;
    background:#50C27B;
}
  
::selection {
    color: white;
    background:#50C27B;
}

a{
    font-family: 'Averta-Regular';
    color: #50C27B;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

a:hover{
    color: white;
    background:#50C27B;
}

p {
    font-family: 'Averta-Regular';
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin-bottom: 0.5rem;
    padding: 0;

 }

 .showcase .container .showpiece small
 {
    display: block;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-top: 1rem;
    opacity: 0.7;
 }

 b{
    font-family: 'Averta-Regular';
    font-weight: bold;
    font-style: normal;
}

.green{
    color: #50C27B;
}








.topbar{
    display: block;
    width: 100%;

}



.studio-logo img
{
    display: block;
    margin: 4% auto;
    height: 10%;
    max-height: 50px;

}



nav 
{
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(207, 228, 217);
    border-bottom: 1px solid rgb(207, 228, 217);
    background-color: #50C27B;
}

nav ul{
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav ul li{
    padding-right: 5%;
}
nav ul li:last-child{
    padding-right: 0px;
}

nav ul li a{
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
}



.container{
    width: 66%;
    max-width: 900px;
    margin: 0px auto;
    text-align: left;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.intro{
    margin-bottom: 4rem;
}

.intro p{
    font-size: 1.4rem;
    line-height: 2.2rem;
}





.showcase {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;  
    
}




.showcase  .container .showpiece
{
    opacity: 1;
}

.showcase  .container section
{
    margin-bottom: 2rem;
}

.showcase  .container .showpiece, .showcase  .container .showpieces
{
    margin-bottom: 1rem;
    margin-bottom: 3rem;
}




/* To show three images in a row*/
.showcase  .container .showpieces
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2rem auto 2rem;
    align-items: center;
}




.showcase  .container .showpieces .mobileitem {
    display: block;
    width: 100%;

    margin: 0 auto;
    margin-right: 20px;
  }

  .showcase  .container .showpieces .mobileitem:last-child {
    margin-right: 0px;
  }


  .showcase  .container .showpiece img {
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.2));
  }

  .showcase  .container .showpieces .mobileitem img {
    display: block;
    width: 100%;
    
  }






.white > *
{
    color: white;
}


.bupa {
    background-image: linear-gradient(180deg, #019FDA 0%, #0088DA 100%);
}

.concrete{
    background-image: linear-gradient(180deg, #232840 2%, #3D4251 100%);
}

.ballet{
    background-image: linear-gradient(225deg, #AFA5A5 0%, #808080 100%);
}

.gstar {
    background-image: linear-gradient(230deg, #ACACC5 0%, #E3E3E9 100%);
}

.bupa .container > *, .concrete .container > *, .ballet .container > *, .concrete .container > *, .magnum .container > *
{
    color: white;
}

.armada
{
    background-color: #c01625;
}

.magnum
{
    background-image: linear-gradient(180deg, #646464 0%, #252525 100%);
}

.oneoneeightfrance
{
    background-image: linear-gradient(184deg, #D9C9C9 4%, #E5EDF1 93%); 
}

.oneoneeightdispo
{
    background-image: linear-gradient(0deg, #96BDDB 0%, #E5EDF1 100%);
}

.showpiece img, .mobileitem {
    opacity: 0;
}

.showpiece img, .showpieces .mobileitem img{
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.1));

}

/*
.shadow_bupa {
    box-shadow: 0 8px 17px 0 rgba(84,110,147,0.30);
 }

 .shadow_concrete {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.30);
 }

 .shadow_ballet
 {
    box-shadow: 0 7px 60px 0 rgba(30,10,10,0.20);
 }

 .shadow_gstar
 {
    box-shadow: 0 7px 60px 0 rgba(30,10,10,0.20);
 }*/




 footer
 {
    background-color: #50C27B;
    padding-bottom: 4rem;
 }

 footer .footer_logo
 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
 }

 footer .footer_logo span{
     width: 60%;
     max-width: 500px;
     margin: 0 auto;
 }

 footer .footer_logo img
 {
    display: block;
    margin: 50px auto;
    width: 100%;
 }


 footer .content p a, footer .content p a:hover, footer .content p a:focus{
    color: white;
    font-weight: 700;
}

 footer .content{
    color: white;
    margin: 0 auto;
    width: 100%;
 }

 footer .content p{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0rem;
 }

 










@media screen 
  and (max-width: 900px) 
{
    .container{
        width: 90%;
        max-width: 90%;
        padding-top: 4rem;
        padding-bottom: 4rem;

    }
}





@media screen 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


        h1,h2,h3,h4,h5,h6{
            font-size: 4.2rem;
            line-height: 4.4rem;
            margin-bottom: 2rem;
            letter-spacing: -0.6px;
        }

        
        nav ul li a{
            font-size: 3rem;
            color: white;
            font-weight: 700;
        }

        p {
            font-size: 3.4rem;
            line-height: 5rem;
         }


        .container{
            width: 94%;
            max-width: 94%;
            margin: 0px auto;
            text-align: left;
            padding-top: 15%;
            padding-bottom: 15%;
            display: flex;
            flex-direction: column;
        }

        .intro p{
            font-size: 3rem;
            line-height: 4.2rem;
        }
        

        .topbar .studio-logo img 
        {   
            display: block;
            margin: 6% auto;
            height: 15%;
            max-height: 100px; 
        }


        .showcase  .container section
        {
            margin-bottom: 4rem;
        }

        .showcase .container .showpiece small
        {
           display: block;
           font-size: 2.8rem;
           line-height: 3.2rem;
           margin-top: 1.8rem;
           margin-bottom: 2.2rem;
           opacity: 0.7;
        }

        footer .content p{
            margin: 0 auto;
            text-align: center;
            color: white;
            font-size: 3rem;
            margin-bottom: 0rem;
         }


    }






