html{
    font-size: 18px;
    color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
v
h1,h2,h3,h4,h5,h6{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 2rem;
}


::-moz-selection { /* Code for Firefox */
    color: white;
    background:#50C27B;
}
  
::selection {
    color: white;
    background:#50C27B;
}

a{
    color: #50C27B;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

a:hover{
    color: white;
    background:#50C27B;
}

p {
    font-family: 'NowRegular';
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 0.6rem;
    padding: 0;
    letter-spacing: -0.4px;

 }

 b{
    font-family: 'NowRegular';
    font-weight: bold;
    font-style: normal;
}

.green{
    color: #50C27B;
}

.studio-logo
{
    font-family: 'OrkneyRegular';
    font-weight: bold;
    font-style: normal;
    color: #414141;
    font-size: 2.4em;
    background-repeat: no-repeat;
}

.topbar{
    padding: 20px 50px 20px 50px;
    border-bottom: 1px solid #96FFBE;
}



.studio-logo
{
    background-image: url('../logo/Superusefulstudio.png');
    background-repeat: no-repeat;
    width: 280px;
    height: 40px;
}



.container{
    width: 66%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}


.showcase {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;  

}

.showcase .container h1{
    font-size: 2rem;
}

.showcase .container p{
    font-size: 1.2rem;
}


.showpiece
{
    opacity: 0;
    margin-top: 50px;
}
.showpiece img
{
    display: block;
}





.bupa {
    background-image: linear-gradient(180deg, #019FDA 0%, #0088DA 100%);
}

.concrete{
    background-image: linear-gradient(180deg, #575A6B 2%, #3D4251 100%);
}

.ballet{
    background-image: linear-gradient(225deg, #AFA5A5 0%, #808080 100%);
}

.bupa .container > *, .concrete .container > *, .ballet .container > *, .concrete .container > *
{
    color: white;
}


.shadow_bupa {
    box-shadow: 0 8px 17px 0 rgba(84,110,147,0.30);
 }

 .shadow_concrete {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.30);
 }

 .shadow_ballet
 {
    box-shadow: 0 7px 60px 0 rgba(30,10,10,0.20);
 }










/*Responsive Desktop*/

@media only screen and (max-width : 900px) {
  
    .container{
        width: 90%;
        max-width: 1200px;
        margin: 0px auto;
        text-align: left;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    

}




/* Responsive Mobile Web */

@media only screen
and (min-device-width : 400px)
and (max-device-width : 864px) {

    .container{
        width: 90%;
        margin: 0px auto;
        text-align: left;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .studio-logo
    {
        background-image: url('../logo/Superusefulstudio@3x.png');
        background-repeat: no-repeat;
        width: 814px;
        height: 100px;
    }

    p {
        font-size: 2.8rem;
        line-height: 4.8rem;
     }

     .showcase .container h1{
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    
    .showcase .container p{
        font-size: 2.6rem;
        line-height: 3.8rem;
    }

    .showcase .container img
    {
        display: block;
        margin-top: 20%;
    }

}


/* Responsive Mobile Web Small*/

@media only screen
and (min-device-width : 200px)
and (max-device-width : 399px) {

    .container{
        width: 90%;
        margin: 0px auto;
        text-align: left;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .studio-logo
    {
        background-image: url('../logo/Superusefulstudio@3x.png');
        background-repeat: no-repeat;
        width: 814px;
        height: 100px;
    }

    p {
        font-size: 3.6rem;
        line-height: 5.2rem;
     }

     .showcase .container h1{
        font-size: 4rem;
        margin-bottom: 5rem;
    }
    
    .showcase .container p{
        font-size: 3.2rem;
        line-height: 4.2rem;
    }

    .showcase .container img
    {
        display: block;
        margin-top: 20%;
    }

}






/* iPhone XR*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2)
    {

    .container{
        width: 90%;
        margin: 0px auto;
        text-align: left;
        padding-top: 150px;
        padding-bottom: 200px;
    }

    b{
        letter-spacing: -0.08rem;
    }

    p {
        font-size: 2.8rem;
        line-height: 4.8rem;
        
     }



    .showcase .container h1{
        font-size: 3.6rem;
    }

    .showcase .container p{
        font-size: 2.4rem;
        line-height: 4.8rem;
    }

     .studio-logo
     {
         background-image: url('../logo/Superusefulstudio@2x.png');
         background-repeat: no-repeat;
         width: 814px;
         height: 100px;
     }
    
  }




